* {
    margin: 0;
    padding: 0;
}

.signup-page-container {
    display: flex;
    flex-direction: row;
    /* position: absolute; */
}

.left-container {
    display: flex;
}

.background-picture {
    position: relative;
    max-width: 40vw;
    max-height: 100vh;
}

.logo-banner {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    background-color: rgb(0, 0, 0, .7);
    margin-top: 15rem;
    min-width: 40vw;
    padding: 1em;
}

.profever {
    color: white;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif
}

.odin-logo {
    height: 10em;
    max-width: 10rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 60vw;
}

.top-content, .form-content, .bottom-content {
    display: flex;
}

.top-content {
    background-color: grey;
    margin: 0;
    height: 33vh;
    font-size: 30px;
    /* justify-content: center;
    align-items: center; */
    flex-flow: column;
    gap: 30px;
}

.first-para, .second-para {
    padding-left: 3em;
    display: left;
    font-weight: 800;

}

.first-para {
    padding-top: 3em;
    max-width: 50ch;
}

.second-para {
    
}

.form-content {
    padding-left: 3em;
    flex-flow: column;
    background-color: lightblue;
    height: 33vh;

}

.bottom-content {
    background-color: grey;
    height: 33vh;
}