@font-face {
    font-family: 'Norse';
    src: url(Fonts/Norse-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
}

.signup-page-container {
    display: flex;
    min-height: 100vh;
}

.left-container {
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

.logo-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    background: rgb(0,0,0, 0.5);
    width: 38vw;
    padding: 1vw;
}

.logo-img {
    min-width: 6vw;
    height: 15vh;
}

.logo-text{
    font-family: Norse;
    font-size: 6vw;
    color: rgb(241, 241, 241);
}

.left-container a {
    color: white;
}

.credit {
    font-size: 1vw;
    color: white;
    padding-bottom: 1vh;
}

.right-container {
    width: 60vw;
}

.top-content {
    background-color: rgb(247, 247, 247);
    min-height: 30vh;
    padding-left: 3em;   
}

.first-para {
    padding-top: 4em;
}

.first-para, .second-para {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: calc(.55vw + .55vh + 1vmin);
    padding-bottom: 1em;
    max-width: 54ch;
    font-weight: 600;
}

.form-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    min-height: 36vh;
    padding-left: 3em;
    padding-top: 4vh;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.30);

}

.form-content > h3 {
    font-family:Arial, Helvetica, sans-serif ;
    font-size: calc(.55vw + .55vh + 1vmin);
    padding-bottom: 2vh;
    font-weight: 600;

}

.form-containter {
    display: flex;
    /* column-gap: 10em; */
}

input, label {
    display: block;
    min-width: 15vw;
}

label {
    font-family: Norse;
    font-size: calc(.5vw + .2vh + .5vmin);
    padding-bottom: .3em;
    padding-top: 1em;
    width: 12em;
}

input {
    padding: .2em;
    width: 12vw;
}

.row1, .row2, .row3 {
    display: flex;
    gap: 5vw;
}


.bottom-content {
    background-color: rgb(247, 247, 247);
    min-height:27vh;
    padding-left: 3em;
    padding-top: 3vh;
}

.bottom-content > button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #596D48;
    border-radius: 10px;
    border: none;
    font-size: calc(.6vw + .3vh + .5vmin);
    color: white;
    width: 12vw;
    height: 5vh;
}

.bottom-content > button:hover {
    cursor: pointer;
    color: black;
    background-color: #a3e466;
}

.bottom-content > p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3vh;
    font-size: calc(.5vw + .3vh + .5vmin);
    font-weight: 500;
}

.bottom-content a {
    color: #596D48;
    text-decoration: none;
    font-weight: 600;
}

